body, h1 ,h2, h3, h4, h5, h6 {
	font-family: "Lato", sans-serif;
	height: 100%;
	line-height: 1.8;
	background-color: #ffccff;
}

/* Clear floats after the columns */
.row-overall {
  content: "";
  column-count: 3;
}


.column {
  	text-align: center;
}

.calendar {
	display: table;
	margin-left: 10px;
  	margin-right: 10px;
}

.cal-row-5 {
	color: green;
}

.button-group2 {
	text-align: right;
	top: 50%;
	color: white;
}