body {
  background-image: url("/pillpattern-final");
  background-color: #cccccc;
}

body, h1,h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;}
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.butt {
  position: fixed;
  top: 65%;
  height: 100px;
  width: 150px;
  font-family: "Lato";
  font-size: 20px;
  padding: 25px 50px;
  left: 45%;
  transform: translate(-50%, -50%);
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}