<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../assets/calendar-styles.css">
	</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    var i;
    //for(i = 0; i < 24; i++) {

    //}
    var heading;
    $("cal-heading").css("color": "blue");
    
    heading = document.getElementsByClassName("cal-heading");
    console.log(heading);
    heading.style.color = "red";
  </script>
	<body>
		<table class="calendar" style="width:50%" border="1">
  			<tr class="cal-heading">
  				<th>Sunday</th>
    			<th>Monday</th> 
    			<th>Tuesday</th>
    			<th>Wednesday</th>
    			<th>Thursday</th> 
    			<th>Friday</th>
    			<th>Saturday</th>
  			</tr>
  			<tr class="time-1">
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr class="time-2">
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr class="time-3">
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr class="time-4">
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr class="time-5">
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr class="time-">
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
  			<tr>
    			<td style="background-color: red">Sun 01:00</td>
    			<td>Mon 01:00</td>
    			<td>Tue 01:00</td>
    			<td>Wed 01:00</td>
    			<td>Thu 01:00</td>
    			<td>Fri 01:00</td>
    			<td>Sat 01:00</td>
  			</tr>
	</body>
</html>